$color-default-1: #9290ff !default;

.cbx {
	margin: auto;
	cursor: pointer;

	span {
		display: inline-block;
		vertical-align: middle;
		transform: translate3d(0,0,0);

		&:first-child {
			position: relative;
			width: 18px;
			height: 18px;
			border-radius: 3px;
			transform: scale(1);
			vertical-align: middle;
			border: 2px solid $color-default-1;
			transition: background-color .2s ease, border-color .2s ease;

			svg {
				position: absolute;
				top: 2px;
				left: 2px;
				fill: none;
				stroke: #fff;
				stroke-width: 2;
				stroke-linecap: round;
				stroke-linejoin: round;
				stroke-dasharray: 16px;
				stroke-dashoffset: 16px;
				transition: stroke-dashoffset .3s ease;
				transition-delay: .1s;
				transform: translate3d(0,0,0);
			}

			&:before {
				content: "";
				width: 100%;
				height: 100%;
				background: $color-default-1;
				display: block;
				transform: scale(0);
				opacity: 1;
				border-radius: 50%;
			}
		}
		&:last-child {
			padding-left: 18px;
			font-size: 16px;
			color: #777
		}
	}
}
 
.inp-cbx {
	display: none;
}

.inp-cbx:checked + .cbx {
	span {
		&:first-child {
			background-color: $color-default-1;
			border-color: $color-default-1;
			animation: wave .4s ease;

			svg {
				stroke-dashoffset: 0;
			}

			&:before {
				transform: scale(3.5);
				opacity: 0;
				transition: transform .6s ease, opacity .6s ease;
			}
		}
	}
} 
    
@keyframes wave {
	50% {transform: scale(.9);}
}
